Source: skindesigner-logos
Section: misc
Priority: extra
Maintainer: Frodo <frodo.vdr@example.org>
Uploaders: Frodo <frodo.vdr@example.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: https://github.com/FrodoVDR/svg-channellogos.git

Package: skindesigner-logos
Architecture: all
Depends: ${misc:Depends}, vdr-plugin-skindesigner (>= 0.1.2~)
Description: svg logos for skindesigner

